# Xcode specific files
.DS_Store
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcuserstate

# CocoaPods
/Pods/

# Firebase dosyaları
GoogleService-Info.plist
firebase-debug.log

#API
Config.xcconfig

# Çevre Değişkenleri
.env

# Swift Package Manager
/.build/

# Carthage
Carthage/Build/


GoogleMobileAds/


# Exclude xcuserdata (User-specific Xcode workspace settings)
**/xcuserdata/
