<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2kvazwxdwQRJQscMr38iwXWL50OKJXjU</string>
	<key>GCM_SENDER_ID</key>
	<string>1037701824583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdulkadiroruc.Project</string>
	<key>PROJECT_ID</key>
	<string>bookproject-6ada2</string>
	<key>STORAGE_BUCKET</key>
	<string>bookproject-6ada2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037701824583:ios:994c97562c687ade7f7162</string>
</dict>
</plist>
